html, body {
  margin: 0;
  height: 100%;
  overflow: auto;
}


.start {
  margin: 50px;
  background-color: white;
  padding: 20px 30px;
  border-radius: 5px;
}

.auth {
  margin-top: 30px;
}

.error {
  margin: 10px 0;
  padding: 3px;
  background: #fddcdc;
}

.result {
  font-size: 4em;
  padding-top: 80px;
  padding-bottom: 50px;
}

.white-card {
  max-width: 800px;
  margin: 60px auto;
  font-size: 1.4em;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.extra-wide {
  max-width: 80% !important;
}

.game-control {
  font-size: 1.15em;
}

span.sell {
  float: left;
}

span.buy {
  float: right;
}

span.display {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -3px;
  max-width: 50px;
  padding: 2px 4px;
  text-align: center;
}

.rankings-list {
  height: auto;
  max-height: 400px;
  overflow-y: scroll;


  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;  /* Firefox */
}

.rankings-list::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.rankings-list > li {
  height: 80px;
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  justify-content: space-between;
}

.rankings-list > li > .ranking {
  margin: 0;
  position: relative;
  top: -1px;
}

.rankings-list > li > .info {
  margin: 0;
  line-height: 10px;
  position: relative;
  top: -1px;
}

.rankings-list > li > .info > small {
  float: right;
}

.you {
  background-color: rgb(230, 230, 230);
}
